section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider__content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider__content input {
    display: none;
}

.slide__box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide__box img {
    width: 100%;
}

.nav__manual, .nav__auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav__manual .manual__btn, .nav__auto div{
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav__manual .manual__btn:not(:last-child), .nav__auto div:not(:last-child) {
    margin-right: 10px;
}

.nav__manual .manual__btn:hover {
    background-color: var(--cor-terciaria);
}

#radio1:checked ~ .nav__auto .auto__btn1, #radio2:checked ~ .nav__auto .auto__btn2 ,#radio3:checked ~ .nav__auto .auto__btn3 ,#radio4:checked ~ .nav__auto .auto__btn4 {
    background-color: var(--cor-terciaria);
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

#radio4:checked ~ .primeiro {
    margin-left: -75%;
}